html, body {
    height: 100%;
    margin: 0;
    position: relative; /* Ensure relative positioning for the body */
}

body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://plus.unsplash.com/premium_photo-1673688152102-b24caa6e8725?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bWF0cml4fGVufDB8fDB8fHww') no-repeat center center fixed;
    background-size: cover;
    color: #0f0;
    display: flex;
    flex-direction: column;
}

header {
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-shadow: 0 0 8px #000;
}

header img {
    height: 100px;
    margin-left: 110px;
}

main {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-wrapper {
    width: 85%;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.character-profile {
    width: 70%;
    position: relative;
}

.search-container {
    position: absolute;
    top: 10px;
    right: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.search-container input {
    padding: 5px;
    border: 1px solid #0f0;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #0f0;
}

.search-container button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #0f0;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0c0;
}

.edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    z-index: 1;
}

.sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.sidebar-container {
    border: 2px solid #0f0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar img {
    width: 100%;
    border-bottom: 2px solid #0f0;
    border-radius: 10px 10px 0 0;
    box-sizing: border-box;
}

.sidebar table {
    width: 100%;
    border-collapse: collapse;
    color: #0f0;
    border-top: none;
}

.sidebar table td {
    padding: 8px;
    border: 1px solid #0f0;
}

.sidebar table tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.8);
}

.click-me {
    font-family: 'Patrick Hand', cursive;
    font-size: 24px;
    color: #f00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #f00;
    border-radius: 5px;
    background: linear-gradient(145deg, #600 0%, #900 100%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-decoration: none; /* Remove underline */
    z-index: 2; /* Ensure it's above other elements */
}

.click-me:hover {
    transform: scale(1.1);
}

footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #0f0;
    box-shadow: 0 0 8px #000;
    text-shadow: 0 0 8px #0f0;
    width: 100%;
}

.quotes-section {
    margin-top: 20px;
    padding: 15px;
}

.quote {
    font-style: italic;
    margin-bottom: 15px;
    border-left: 2px solid #0f0;
    padding-left: 15px;
    color: #fff; /* White text */
    text-shadow: 0 0 8px #0f0; /* Green glowing text */
    background-color: rgba(0, 255, 0, 0.1);
}
